/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la galería */
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    perspective: 800px;
    overflow: hidden;
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
}

/* Estilos para el carrusel */
.carousel {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
}

/* Estilos para las imágenes */
.image {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ajuste del ángulo de rotación para las imágenes */
.image:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.image:nth-child(2) {
    transform: rotateY(36deg) translateZ(300px);
}

.image:nth-child(3) {
    transform: rotateY(72deg) translateZ(300px);
}

.image:nth-child(4) {
    transform: rotateY(108deg) translateZ(300px);
}

.image:nth-child(5) {
    transform: rotateY(144deg) translateZ(300px);
}

.image:nth-child(6) {
    transform: rotateY(180deg) translateZ(300px);
}

.image:nth-child(7) {
    transform: rotateY(216deg) translateZ(300px);
}

.image:nth-child(8) {
    transform: rotateY(252deg) translateZ(300px);
}

.image:nth-child(9) {
    transform: rotateY(288deg) translateZ(300px);
}

.image:nth-child(10) {
    transform: rotateY(324deg) translateZ(300px);
}

.centered-list {
    list-style-type: none;
    /* Eliminar los puntos de la lista */
    padding: 0;
    /* Eliminar el padding por defecto */
    text-align: center;
    /* Centrar el texto de la lista */
}

.centered-list li {
    display: inline-block;
    /* Hacer que los elementos de la lista se comporten como inline-block */
    margin: 0 10px;
    /* Añadir margen entre los elementos de la lista si es necesario */
}

.centered-list {
    list-style-type: none;
    /* Eliminar los puntos de la lista */
    padding: 0;
    /* Eliminar el padding por defecto */
    text-align: center;
    /* Centrar el texto de la lista */
}

.centered-list li {
    display: inline-block;
    /* Hacer que los elementos de la lista se comporten como inline-block */
    margin: 0 10px;
    /* Añadir margen entre los elementos de la lista si es necesario */
    color: blue;
}

/* Estilo para la descripción */
.description {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.326);
    margin: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Estilos para el grid descriptivo */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item h3 {
    margin-top: 0;
    color: #333;
    text-align: center;
    /* Alinear títulos al centro */
}

.grid-item p {
    margin: 10px 0 0;
    color: #666;
    text-align: center;
    /* Justificar párrafos */
}

.Titulo {
    text-align: center;
    font-size: 2.5em;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.338);
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}